<style>
    ion-nav-view {
        background-color: transparent;
    }
</style>
<ion-header-bar class="bar bar-energized"> 
    <h1 class="title"> Redirection </h1>
</ion-header-bar>
<ion-content padding="true">
    <div class="card">
        <div class="item item-divider" style="background-color:#ffc900"> Redirection Confirmation </div>
        <div class="item item-text-wrap">The application needs to redirect you to a secure site on your browser to complete the process. <br /> If you understand, click on the link below and complete the process. </div>
    </div>
    <div class="card">
        <ion-item><a class="button button-block button-positive" href="javascript:;" on-tap="goToRedirectUrl()">I understand, take me there</a></ion-item>
        <ion-item><a class="button button-block button-positive" href="javascript:;" on-tap="goToClear()">No, Go to Catalog</a></ion-item>
    </div>
</ion-content>