<style>
    ion-nav-view {
        background-color: transparent;
    }
</style>
<ion-header-bar class="bar bar-assertive"> 
    <h1 class="title"> A connection error occurred! </h1>
</ion-header-bar>
<ion-content padding="true">
     <div class="card">
         <div class="content-padded">
             <ion-list>
                <ion-item class="item item-divider">API KEY Retrievel</ion-item>
                <ion-item class="item-text-wrap">{{ apierror }}</ion-item>
            </ion-list>
        </div>
     </div>
</ion-content>